* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}


#todoInput {
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(123, 123, 223);
    outline: none;
    flex: 10;
    color: #000;
}

#todoAdd {
    padding: 5px;
    background-color: rgba(104, 167, 245, 0.666);
    color: #000;
}

.card {
    width: 90%;
    display: flex;
    margin: 10px auto;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    height: 50px;
    border: 1px solid rgb(123, 123, 223);
    border-radius: 6px;
}

li:hover {
    box-shadow: 5px 5px 20px rgba(44, 123, 240, 0.769);
    transform: scale(1.05);
}

.card i {
    padding-right: 10;
    text-align: right;
    color: rgba(255, 0, 0, 0.317);
}


i {
    font-size: 20;
    color: rgba(21, 80, 208, 0.831);
    margin-left: 5px;
    flex: 1;
}

.maincontainer {
    width: 100vw;
    display: flex;
    background-color: white;
    height: 100vh;
    justify-content: center;
    position: relative;
    align-items: center;
}

.container {
    padding: 10px 0;
    border: 2px solid rgba(111, 233, 121, 0.3);
    width: 60%;
    min-height: 40vh;
    margin:  auto;
    display: flex;
    max-height: 40vh;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

#todoList {
    list-style: none;
}

.inputs,.title {
    position: sticky;
    display: flex;
    top: 0;
    padding: 10px;
    color: rgb(123, 123, 223);;
    background-color: #FFF;
}

p {
    margin-left: 10px;
}